{% extends 'base.html' %} {% block title %} {{ post.name }} {{
    post.detail }} {% endblock title %} {% block content %}
    <h2>Detalhes do Post "{{post.name}}{{ post.detail}}"</h2>
    
    <section class="dados-de-post">
      <img src="{{ post.poster_url }}" alt="Imagem do post {{ post.name}}" />
      <ul>
        <li>Nome: {{ post.name }}</li>
        <li>Descrição: {{ post.description }}</li>
        <li><a href="{% url 'posts:update' post.id %}">Editar</a></li>
        <li><a href="{% url 'posts:delete' post.id %}">Apagar</a></li>
      </ul>
    </section>
    
    <hr>

    <section>
        <header>
            <h3>Cometários</h3>
        </header>
        <ul>
            {% if post.review_set.all %}
                {% for review in post.review_set.all %}
                    <figure>
                        <blockquote>
                            "{{ review.text }}"
                        </blockquote>
                        <figcaption>—{{ review.author }}</figcaption>
                    </figure>
                {% endfor %}
            {% else %}
                <p>Ainda não existe nenhum comentário para este post.</p>
            {% endif %}
        </ul>
    </section>

</ul>
    
<hr>

<a href="{% url 'posts:comment' post.pk %}"><button>Comente</button></a>
</section>

{% endblock content %}