{% extends 'base.html' %}

{% block content %}
<h2>Busca de Filmes por Nome</h2>
<form action="{% url 'posts:search' %}">
    <p>
        <label for="id_query">Título:</label>
        <input type="text" name="query" id="id_query" />
    </p>
    <button type="submit">Buscar</button>
</form>


<h2>Resultado da Busca</h2>
{% if posts_list %}
<section class="lista-de-cards">
    {% for post in posts_list %}
    <article class="card">
        <img src="{{ posts.poster_url }}" alt="Poster do filme {{ post.name}}">
        <p>{{ post.name }} ({{ post.description }})</p>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum post para a busca.</p>
{% endif %}

{% endblock content %}